html, body{
    background-image: url(./assets/campo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.lettersColors{
    color:white;
    text-shadow: 3px 2px 3px black;
}

.app-container{
        min-height: 100%;
        margin-bottom: -60px; /* Altura del footer */
        padding-bottom: 60px; /* Altura del footer */
}

.footer {
    height: 60px; /* Altura del footer */
    background-color: #282828; /* Color de fondo del footer */
    text-align: center;
    padding-top: 20px; /* Espacio interno superior en el footer */
    color: rgb(204, 193, 193);
    margin-top: 100vh;
  }


.abrir-modal {
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

.modal-dialog {
    margin-top: 15%!important;
}

.animacion {
    animation-duration: 2s;
    animation-fill-mode: both;
    -webkit-animation-duration: 2s;
    -webkit-animation-fill-mode: both;
}
 
.fadeIn {
    animation-name: fadeIn;
    -webkit-animation-name: fadeIn;
}
 
@keyframes fadeIn {
    0% {
        opacity: 0
    }
 
    to {
        opacity: 1
    }
}
 
@-webkit-keyframes fadeIn {
    0% {
        opacity: 0
    }
 
    to {
        opacity: 1
    }
}

@media (max-width: 1750px){
    html, body{
        background-image: url(./assets/campo.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        height: 138vh;
        margin: 0;
        padding: 0;
    } 

}

@media (max-width: 770px){
    html, body{
        background-image: url(./assets/campo.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        height: 153vh;
        margin: 0;
        padding: 0;
    } 

}

@media (max-width: 540px) {
       html, body{
        background-image: url(./assets/campo.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        height: 147vh;
        margin: 0;
        padding: 0;
    }  

    .footer {
        width: 111vw;
      }

    .widthNav{
       width: 111vw;
      }
  }
  
  @media (max-width: 490px) {
    .footer {
        width: 175vw;
        margin-top: 125vh;
      }

      .widthNav{
        width: 175vw;
       }

       html, body {
        height: 175vh;
       }

       /* .root{
        height: 142vh;
       } */
  }